@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: 'Open Sans', sans-serif;
  /*background-color: #eee;*/ }

#tooltip {
  position: absolute;
  /*width: 200px;*/
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none; }

#tooltip span {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px; }

.hidden {
  display: none; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

.definition {
  font-weight: bold; }

.clear {
  clear: both; }

.key {
  font-family: monospace;
  padding: 15px;
  float: left; }
  .key.doublequote {
    background-color: #78c679; }
  .key.singlequote {
    background-color: #78c679; }
  .key.comma {
    background-color: #238443; }
  .key.period {
    background-color: #e31a1c; }
  .key.questionmark {
    background-color: #cb181d; }
  .key.exclaationpoint {
    background-color: #cb181d; }
  .key.colon {
    background-color: #225ea8; }
  .key.semicolon {
    background-color: #225ea8; }
  .key.parenthesisopen {
    background-color: #bf812d; }
  .key.parenthesisclose {
    background-color: #bf812d; }
  .key.bracketopen {
    background-color: #bf812d; }
  .key.bracketclose {
    background-color: #bf812d; }
  .key.asterisk {
    background-color: #d9d9d9; }
  .key.ampersand {
    background-color: #d9d9d9; }
  .key.dash {
    background-color: #bdbdbd; }
  .key.underscore {
    background-color: #bdbdbd; }

.doublequote {
  fill: #78c679; }

.singlequote {
  fill: #78c679; }

.comma {
  fill: #238443; }

.period {
  fill: #e31a1c; }

.questionmark {
  fill: #cb181d; }

.exclaationpoint {
  fill: #cb181d; }

.colon {
  fill: #225ea8; }

.semicolon {
  fill: #225ea8; }

.parenthesisopen {
  fill: #bf812d; }

.parenthesisclose {
  fill: #bf812d; }

.bracketopen {
  fill: #bf812d; }

.bracketclose {
  fill: #bf812d; }

.asterisk {
  fill: #d9d9d9; }

.ampersand {
  fill: #d9d9d9; }

.dash {
  fill: #bdbdbd; }

.underscore {
  fill: #bdbdbd; }
