@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
  /*background-color: #eee;*/
}

#tooltip {
  position: absolute;
  /*width: 200px;*/
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip span {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.hidden {
  display: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.definition {
  font-weight: bold;
}
.clear {
  clear: both
}
.key {
  font-family: monospace;
  padding: 15px;
  float: left;
  &.doublequote{ background-color: rgb(120, 198, 121); }
  &.singlequote{ background-color: rgb(120, 198, 121); }
  &.comma{ background-color: rgb(35, 132, 67); }
  &.period{ background-color: rgb(227, 26, 28); }
  &.questionmark{ background-color: rgb(203, 24, 29); }
  &.exclaationpoint{ background-color: rgb(203, 24, 29); }
  &.colon{ background-color: rgb(34, 94, 168); }
  &.semicolon{ background-color: rgb(34, 94, 168); }
  &.parenthesisopen{ background-color: rgb(191, 129, 45); }
  &.parenthesisclose{ background-color: rgb(191, 129, 45); }
  &.bracketopen{ background-color: rgb(191, 129, 45); }
  &.bracketclose{ background-color: rgb(191, 129, 45); }
  &.asterisk{ background-color: rgb(217, 217, 217); }
  &.ampersand{ background-color: rgb(217, 217, 217); }
  &.dash{ background-color: rgb(189, 189, 189); }
  &.underscore{ background-color: rgb(189, 189, 189); }

}

.doublequote{ fill: rgb(120, 198, 121); }
.singlequote{ fill: rgb(120, 198, 121); }

.comma{ fill: rgb(35, 132, 67); }
.period{ fill: rgb(227, 26, 28); }

.questionmark{ fill: rgb(203, 24, 29); }
.exclaationpoint{ fill: rgb(203, 24, 29); }

.colon{ fill: rgb(34, 94, 168); }
.semicolon{ fill: rgb(34, 94, 168); }

.parenthesisopen{ fill: rgb(191, 129, 45); }
.parenthesisclose{ fill: rgb(191, 129, 45); }
.bracketopen{ fill: rgb(191, 129, 45); }
.bracketclose{ fill: rgb(191, 129, 45); }

.asterisk{ fill: rgb(217, 217, 217); }
.ampersand{ fill: rgb(217, 217, 217); }
.dash{ fill: rgb(189, 189, 189); }
.underscore{ fill: rgb(189, 189, 189); }

